version: "3.8"

networks:
  net2:
    name: net2
    driver: bridge

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/rakhsas/data/

  database:
    name: database
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/rakhsas/data/

services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb/
    #restart: always
    env_file: .env
    volumes:
      - database:/var/lib/mysql
    networks:
      - net2
    ports:
      - "3306:3306"
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress/
    restart: always
    env_file: .env
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - net2
    depends_on:
      - mariadb
  nginx:
    container_name: nginx
    build: ./requirements/nginx/
    restart: always
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - net2
    depends_on:
      - wordpress
    ports:
      - "443:443"
  adminer:
    container_name: adminer
    build: ./requirements/bonus/adminer/
    restart: always
    depends_on:
      - mariadb
    networks:
      - net2
    ports:
      - "8080:8080"
  ftp:
    container_name: ftp
    build: ./requirements/bonus/ftp/
    restart: always
    depends_on:
      - wordpress
    networks:
      - net2
    ports:
      - "21:21"


