version: "3.8"

networks:
  net2:
    name: net2
    driver: bridge

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/rakhsas/data/wordpress/

  database:
    name: database
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/rakhsas/data/database/

services:
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb/
    restart: always
    env_file: .env
    volumes:
      - database:/var/lib/mysql
    networks:
      - net2
    ports:
      - "3306:3306"
  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress/
    restart: always
    env_file: .env
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - net2
    depends_on:
      - mariadb
  nginx:
    container_name: nginx
    build: ./requirements/nginx/
    restart: always
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - net2
    depends_on:
      - wordpress
    ports:
      - "443:443"
  adminer:
    container_name: adminer
    build: ./requirements/bonus/adminer/
    restart: always
    depends_on:
      - mariadb
    networks:
      - net2
    ports:
      - "8080:8080"
  # ftp_server:
  #   container_name: ftp_server
  #   build: ./requirements/bonus/ftp/
  #   restart: always
  #   depends_on:
  #     - wordpress
  #   volumes:
  #     - wordpress:/var/www/wordpress
  #   networks:
  #     - net2
  #   env_file: .env
  #   ports:
  #     - "21:21"
  # angular:
  #   container_name: angular
  #   build: ./requirements/bonus/angular/
  #   restart: always
  #   networks:
  #     - net2
  #   ports:
  #     - "4200:4200"
  redis:
    container_name: redis
    build: ./requirements/bonus/redis/
    restart: always
    networks:
      - net2
    ports:
      - "6379:6379"
    env_file: .env
    volumes:
      - wordpress:/var/www/html
  # grafana:
  #   container_name: grafana
  #   build: ./requirements/bonus/grafana/
  #   volumes:
  #     - wordpress:/var/www/html
  #   restart: always
  #   env_file: .env
  #   ports:
  #     - "3000:3000"
  #   networks:
  #     - net2
  kibana:
    container_name: kibana
    build: ./requirements/bonus/kibana/
    restart: always
    env_file: .env
    ports:
      - "5601:5601"
    networks:
      - net2
    

